ion-card {
    height: 100%;
  }
  
  ion-img {
    height: 100%; /* Adjust the height as needed */
    width: 100%;
    object-fit: cover; /* Maintain aspect ratio */
  }
  ion-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
    padding: 20px;
    font-size: larger;
  }